@-webkit-keyframes slide-in-elliptic-bottom-fwd {
    0% {
        -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
                transform: translateY(600px) rotateX(30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% -1400px;
                transform-origin: 50% -1400px;
        opacity: 1;
    }
}
@keyframes slide-in-elliptic-bottom-fwd {
    0% {
        -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
                transform: translateY(600px) rotateX(30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% -1400px;
                transform-origin: 50% -1400px;
        opacity: 1;
    }
}

ion-content {
    --background: black;

    .nombre {
        margin-top: 15vh;

        ion-label {
            color: var(--ion-color-danger);
            font-size: medium;
            font-weight: 600;
        }
    }

    .division {
        margin-top: 15vh;

        ion-label {
            color: var(--ion-color-danger);
            font-size: medium;
            font-weight: 400;
        }
    }

    .container {

        // SLIDE
        -webkit-animation: slide-in-elliptic-bottom-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-bottom-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        img {
            width: 80vw;
            margin-top: 15vh;
        }
    }
}